.about-page{
    display: grid;
    gap: 5rem;
    .logo{
        img{
            display: block;
            margin: auto;
            width: 70%;
        }
    }
    h3{
        font-size: clamp(1.2em, 2.5vw, 2rem);
        text-decoration: underline;
        text-align: center;
    }
}