.our-staff{
    table{
        margin: 2rem auto;
        font-size: 1.1rem;
        text-align: center;
        border: 1px solid var(--black);
        border-collapse: collapse;
        padding: .5rem;
        thead{
            text-decoration: underline;
            th{
                background-color: var(--gold);
            }
        }
        td{
            border: 1px solid var(--black);
            padding: 1rem;
        }
    }
}