@import '../../Styles/media-queries';

.reviews-page {
  padding: 0.5rem;
  .logo-img{
    width: 50%;
    display: block;
    margin: auto;
  }
  .reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-family: var(--headlineFont);
      font-size: clamp(1.8em, 3.5vw, 2.2em);
      font-weight: 400;
    }
  }
  hr{
    color: var(--almostWhite);
  }
  .sort-and-search{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
      margin-left: 1rem;
      scale: 1.15;
    }
    input{
      border: 2px solid var(--almostWhite);
      padding: .5rem;
      border-radius: .5rem;  
    }
    .sort-select{
      display: flex;
      align-items: center;
      gap: 1rem;
      select{
        padding: .5rem;
        background-color: var(--white);
        border: 2px solid var(--almostWhite);
        border-radius: .5rem;  
      }
    }
  }
  .reviews-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
    @include tablet{
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

    }
  }
}
