@import '../../../Styles/media-queries';

.liked-reviews-section{
    h3{
        font-size: clamp(1.5em, 2.5vw, 2.2em);
        text-decoration: underline;
        margin-bottom: 2rem;
    }
    .reviews-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 1rem;
        @include phone{
            grid-template-columns: repeat(1, 17rem);
        }
    }
}