.form{
    border: 3px solid var(--teal);
    border-radius: 1rem;
    width: min(85%, 50rem);
    padding: 1rem 2rem;
    margin: auto;
    .err-handler{
        text-align: center;
        color: var(--error);
    }
    .form-btn{
        margin-top: 2rem;
        display: flex;
        justify-content: center;   
    }
}