footer{
    min-height: 5vh;
    background-color: var(--darkTeal);
    display: grid;
    justify-items: center;
    h5{
        color: var(--almostWhite);
        font-size: 1.2rem;
        padding: .3rem;
        text-align: center;
    }
}