.me-section{
    h3{
        font-size: clamp(1.5em, 2.5vw, 2.2em);
        text-decoration: underline;
    }
    img{
        width: min(150px, 18rem);
    }
    h4{
        font-size: clamp(1.2em, 2.4vw, 2em);
        text-decoration: underline;
    }
    ul{
        padding: 1rem 0;
        li{
            padding: .3rem;
            font-size: clamp(1em, 1.4vw, 1.4em);
        }
    } 
}