@import "../../Styles/media-queries";

.app-header {
  min-height: 5vh;
  background-color: var(--black);
  box-shadow: 0 0 5px var(--black);
  padding: 0.5%;
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phone {
      flex-direction: row;
    }
  }
}
