.table-view{
    table{
        width: 100%;
        border-collapse: collapse;
        tbody{
            font-size: clamp(.9em, 2vw, 1.2em);
            tr{
                border-bottom: 2px solid var(--almostWhite);
                display: flex;
                justify-content: space-between;
                align-items: center;
                &:last-child{
                    border: none;
                }
            }
            .table-img{
                padding: .3rem;
                img{
                    width: 7vw;
                    aspect-ratio: 1;
                    object-fit: cover;
                    border-radius: .5rem;
                }
            }

        }
    }
}